NODE_ENV=development
PORT=4000
JWT_SECRET=change-me-in-production
MONGO_URI=mongodb+srv://rafi_db_user:Rafi123_@cluster0.dxdksun.mongodb.net/touchi
GEMINI_API_KEY=AIzaSyDw4T_QWfGNmIAwqR6r6_D2Q88xSEPeEyU
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=
